{% extends "base.html" %}
{% block content %}

{% if user.is_authenticated %}
<!-- Authenticate account menu -->
{% else %}
<h3>Login</h3>
<form action="/login/" method="post" accept-charset="utf-8">
<label for="username">Username</label><input type="text" name="username" value="" id="username" />
<label for="password">Password</label><input type="password" name="password" value="" id="password" />
<p><input type="submit" value="Login →"></p>
</form>
{% endif %}

<ol> 
	{% for post in posts %}
		<li> 
			<H2> <a href="{{ post.get_absolute_url }}">{{ post.title }}</a></H2>
		</li>
	{% endfor %}
</ol>

<hr>
{% if request.user.is_authenticated %}
	<h2>Make a new post</h2>
	<form action="/post/" method="POST">
		<label for="title">Title</label>
		<input value="Title" type="text" name="title">
		<br>
		<label for="body">Body</label>
		<textarea name="body">Write something here!</textarea>
		<input type="submit">
	</form>
{% endif %}

{% endblock %}