{% extends "base.html" %}
{% block content %}

{% if created %}
	<h1>Congrats on creating your new post!</h1>
{% endif %}

{% if edited %}
	<h1>You edited your post!</h1>
{% endif %}

<h2 style="color: green;">
	{{ post.title }}
</h2>

<div style="color: blue;">
	{{ post.body }}
</div>

<p>
	{{ post.date }}
</p>

<p>
    {{ post.author.first_name }} {{ post.author.last_name }}
</p>

{% if user == post.author %}
    <a href="/edit/{{post.id}}">edit post?</a>
{% endif %}

<form action="/sure/{{post.id}}" method="POST">
<label>Delete Post?</label>
<input type=submit>
</form>
{% endblock %}